{%extends 'base.html'%}
{%load bootstrap4%}
{{block.super}}
{%block content%}
{%include 'navbar.html'%}
<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="font-weight-bold text-center">
        Developer.org
      </div>
    </div>
    <div class="row">
      <div class="container-fluid text-center pt-5">
        {%if profile%}
        {%for i in profile%}
        <div class="container-fluid">
          <div>
            <span class="btn btn-outline-dark float-left" style="border-radius: 25px;">following +0</span>
            <img style="height: 110px; width: 110px;" class="rounded-circle hoverable " src="{{i.profile.url}}" alt="">
            <a class="btn btn-outline-default float-right" href="/logout/">Logout</a>
          </div>
        </div>
        <br>
        {%endfor%}
        {%else%}
        <div class="improfile">
          <div class="over">
          <img height="120" class="rounded-circle hoverable " src="" alt="">
          <span id="user">{{user}}</span>
          <p style="padding:5px" class="alert alert-warning">Please update your profile for better experience</p>
          <br>
            </div>
        </div>
        {%endif%}
        <br>
        <p>{{user.email}}</p>
        <a data-toggle="modal" data-target="#modalSubscriptionForm" style="border-radius: 25px;" class="btn btn-default" type="button" name="button" >Update Profile</a>
        <div style='color:black' class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold " style="color:black">Edit Profile</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
    <div class="col-md-12">
      <h1 class="text-center">Developer Guide</h1>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="jumbotron">
            <h3 class="text-center font-weight-bold"><i class="fas fa-users"></i> Users</h3><hr>
            <p>Hello We are excited to release a new feature in our application, The API We are so glad to allow developers use Our data to Make amazing applications</p>
            <b>Are you excited ?</b>
            <h5 class="font-weight-bolder">Users end-point <a href="/api/profile/" style="color: #49c5b6;">View</a></h5>
            <br>
          </div>
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h3 class="text-center font-weight-bold"><i class="fas fa-folder"></i> Projects</h3><hr>
          <p>This API has two main End Points The users end point where you can view all users in this application and their amazing profiles</p>
          <b>The second End-Point is the Projects Available in this application</b>
          <h5 class="mb-5 font-weight-bolder">Projects End-point <a href="/api/projects/" style="color: #49c5b6;">View</a></h5>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}