{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%load bootstrap4%}
{{block.super}}
{%block content%}
{%include 'navbar.html'%}
{%for i in projects%}
<div style="background-image:url({{i.image.url}});" class=" single">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mt-5">
          <a id='visit' class="btn btn-outline-white bg-default" style="border-radius: 25px; " target="blank" href="{{i.url}}">Visit site</a>
        </div>
        <div class="col-md-6">
          <h1 class="font-weight-bold text-center text-white hed" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;margin-top: 80px;">{{i.sitename}}</h1>
          <h5 class="font-weight-bolder i p-3">by <b class='b'>{{i.user}} </b> from <b>{%if i.location%}{{i.location}}{%else%}Earth{%endif%}</b> with<strong> {{average}}</strong></h5>
          <div id="desgn" class="design">
              <a target="_blank" class="font-weight-bold" style="font-size: 18px; border: solid rgb(247, 147, 80) 4px;" href="{{i.url}}">{{design}}</a>
              <i id="de" class="font-weight-bold" style="font-family: -apple-system; font-style: normal;">design</i>
              <a target="_blank" class="font-weight-bold" style="font-size: 18px; border: solid rgb(100, 241, 159) 3px;" href="{{i.url}}">{{usability}}</a>
              <i id="us" class="font-weight-bold" style="font-family: -apple-system; font-style: normal;">usability</i>
              <a target="_blank" class="font-weight-bold" style="font-size: 18px; border: solid rgb(127, 187, 255) 3px;" class='b' href="{{i.url}}">{{content}}</a>
              <i  id="con" class="font-weight-bold" style="font-family: -apple-system; font-style: normal;">content</i>
          </div>
        </div>
        <div class="col-md-3">
          {%if user.is_authenticated%}

          <button id='love' class="btn btn-outline-default mt-5" type="button" name="button">Rate</button>
          {%if user.id   not in   auth   %}
          <br>
          <div class="form animated fadeIn">
            <form id='send' class="" action="/project/{{i.id}}/" method="post">
              {%csrf_token%}
              {{ form|crispy }}
              <button class="btn btn-outline-default" type="submit" name="button">Submit</button>
            </form>

          </div>
          {%else%}
          <p class="alert alert-info">You've voted!</p>
          {%endif%}
          {%else%}
            <a href="/accounts/login/"><button class="btn btn-outline-default mt-5" type="button" name="button">Login to rate</button></a>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
</div>
{%endfor%}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    {%for project in projects%}
    <div class="col-md-8">
      <br>
      <p class="head pt-5">{{project.description}}</p>
      <div class="overl">
          <button class="btn btn-outline-dark" type="button" name="button">HTML</button>
          <button class="btn btn-outline-dark" type="button" name="button">Jquery</button>
          <button class="btn btn-outline-dark" type="button" name="button">Css</button>
          <button class="btn btn-outline-dark" type="button" name="button">Javascript</button>
          <button class="btn btn-outline-dark" type="button" name="button">Material Design</button>
          <button class="btn btn-outline-dark" type="button" name="button">Bootstrap</button>
          <button class="btn btn-outline-dark" type="button" name="button">Django</button>
          <button class="btn btn-outline-dark" type="button" name="button">Bootstrap</button>
          <button class="btn btn-outline-dark" type="button" name="button">Python</button>
      </div>
      <br>
    </div>
    {%endfor%}
    <div class="col-md-2"></div>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col-md-12 mb-5" style="font-size: 16px;">
      <div class="links">
        <a href="#shots">Screenshot</a>
        .
        <a href="#comm">Votes</a>
        .
        <a href="#om">Comments</a>
      </div>
    </div>
    <div class="col-md-12">
      {%for screen in projects%}
      {% if screen.screen1 or screen.screen2%}
      <div class="images">
        <img id='shots' class='img-fluid' width="auto" src="{{screen.screen1.url}}" alt="">
        <img  class='img-fluid'  src="{{screen.screen2.url}}" alt="">
      </div>

      {%else%}
      {%endif%}
      {%endfor%}
    </div>
    <div class="col-md-12">
      <br><br>

      <div class="card comments">
        <div class="card-header">
          <h4 class="font-weight-bold">{{all|length}} Judges</h4>
        </div>
        <div class="list-group">
          <ul class="list-group">
            {%if all%}
            <table id='comm' class="table" style="font-size: 16px;">
              <th class="font-weight-bolder" style="font-size: 16px;">Jury</th>
              <th class=" font-weight-bold mr-5 float-right" style="font-size: 16px;">Rating</th>
              {%for us in all%}
              <tr>
                <td style="font-size: 16px;">{{us.user}}</td>
                <td>  <div class="dsign float-right mr-5">
                      <a style="font-size: 18px; border: solid rgb(235, 143, 101) 3px;" href="">{{us.design}}.0</a>
                      <a style="font-size: 18px; border: solid rgb(114, 236, 165) 3px;" href="">{{us.usability}}.0</a>
                      <a style="font-size: 18px; border: solid rgb(128, 228, 241) 3px;" class='b' href="">{{us.content}}.0</a>
                      <span class="ml-5 font-weight-bold" style="font-size: 26px;">{{average}}</span>
                  </div>
                </td>
              </tr>
              {%endfor%}
            </table>
            {%else%}
            <li class="list-group-item alert alert-info">No votes Yet.</li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>
  </div>
    <br><br>
  <div class="row">
      <div class="col-md-8 font-weight-bolder">
        {%if user.is_authenticated%}
        {%for j in projects%}
        <form class="" action="/project/{{j.id}}/"  style="font-size: 16px; border-radius: 25px;" method="post" aria-placeholder="Start the discussion">
          {%csrf_token%}
          {%bootstrap_form review%}
          <button id='area' class="btn btn-outline-dark mr-5" style=" border-radius: 25px;" type="submit" name="button">Comment</button>
        </form>
        {%endfor%}
        {%else%}
        <a href="/accounts/login/"><button class="btn btn-outline-dark" style=" border-radius: 25px;" type="submit" name="button">Sign in To leave a comment</button></a>
        {%endif%}
      </div>
      <div class="col-md-4">
        <div class="mt-4" style="font-size: 16px; border-radius: 15px; border: solid rgb(148, 227, 230);" >
          <p class="font-weight-bold text-center" id='om'>comments</p>
          <hr class="font-weight-bold">
          {%for con in comments%}
          <p><i class="font-weight-bold p-3" style="font-style: normal;">@{{con.user}}::</i> {{con.comment}}</p>
          {%endfor%}
        </div>
      </div>
  </div>
<br><br><br>
</div>

{%endblock%}