{%extends 'base.html'%}

{{block.super}}
{%block content%}
{%include 'navbar.html'%}
<div class="home container-fluid" style="height: 80vh;background-image: url('https://cdn.pixabay.com/photo/2016/05/05/11/22/particles-1373684_960_720.jpg');">
<div class="overly">
  <h5 class="float-left pl-5 pt-5 text-white"><span class="font-weight-bold">Site of the Day</span> &nbsp;<span id="displayDate"></span></h5>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-6" id="desgn" style="margin-top: 120px;">
        <h2 class="text-white font-weight-bold">Splash.</h2>
        <p style="font-size: 14px;" class="i">by &nbsp;<b class='b'>kelvin&nbsp;</b> Rated&nbsp;  at&nbsp;  <strong> 9.0</strong></p>
        <div class="design row ml-5 pl-5 pt-4">
          <div>
            <a target="_blank" class="font-weight-bold" style="font-size: 18px; border: solid rgb(255, 102, 0) 3px;" href="{{i.link}}">9.5</a>
            <i class="font-weight-bold" style="font-family: -apple-system; font-style: normal;" id="de">design</i>
          </div>
          <div>
            <a target="_blank" class="font-weight-bold" style="font-size: 18px;  border-color: rgb(255, 174, 0);" href="{{i.link}}">9.0</a>
            <i class="font-weight-bold" style="font-family: -apple-system; font-style: normal;" id="us">usability</i>
          </div>
          <div>
            <a target="_blank" class="font-weight-bold" style="font-size: 18px;" class='b' href="{{i.link}}">8.5</a>
            <i class="font-weight-bold" style="font-family: -apple-system; font-style: normal;"  id="con">content</i>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="row mt-5">
    <a class="btn btn-sm btn-default bg-default ml-5 font-weight-bold" style="text-transform: lowercase; font-size: 14px; border-radius: 25px;" href="{{i.link}}">Visit site</a>
    <a class="btn btn-sm btn-outline-white bg-default ml-3 font-weight-bold" style="text-transform: lowercase; font-size: 14px; border-radius: 25px;" href="{{i.link}}">Collect</a>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-8">
    <h5 class="float-left pl-5 pt-5 text-dark"><span class="font-weight-bold">Site of the Day</span> &nbsp;<span> Previous Winners</span></h5>
  </div>
  <div class="coml-md-4">
    <h5 class="float-right pl-5 pt-5 text-dark"><span class="font-weight-bold">Mobile Exellence</span> &nbsp;<span> Site of the Week</span></h5>
  </div>
</div>
<div class="container-fluid mt-5">
  <div class="row">
    {%for project in projects%}
    <div class="col-md-4">
      <div class="card content">
        <div class="image">
            <a class="img" href="/project/{{project.id}}">  <img class="img-fluid" src="{{project.image.url}}" alt=""></a>
        </div>
        <div class="">
          <i class="dta">{{project.date}}</i>
          <p class="font-weight-bold">{{project.sitename}}</p>
        </div>
      </div>
      <br>
    </div>
    {%endfor%}
  </div>
</div>
{%endblock%}