{%extends 'base.html'%}
{%load bootstrap4%}
{% load crispy_forms_tags %}
{{block.super}}
{%block content%}
{%include 'navbar.html'%}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img src="https://assets.awwwards.com/awards/images/2020/09/moooi_thumb.jpg" alt="" style="height: 100vh; width: 100%;">
        </div>
        <div class="col-md-6">
          <div class="container-fluid font-weight-bolder">
            <h2 class="text-center font-weight-bold pb-4 pt-5">Project Submission</h2>
              <form class="form-group" action="/project/post/" method="POST" enctype="multipart/form-data">
              {%csrf_token%}
              {{ form|crispy }}
              <button class="btn btn-default" type="submit" name="button">Submit Project</button>
              <br> <br>
            </form>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>






<!-- <div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form class="form-group" action="/project/post/" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {%bootstrap_form form%}
        <button class="btn btn-default" type="submit" name="button">Submit Project</button>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div> -->

{%endblock%}