{%extends 'base.html'%}

{{block.super}}
{%block content%}
{% include 'navbar.html'%}
<div class="home container-fluid" style="height: 80vh;background-image: url('https://cdn.pixabay.com/photo/2016/05/05/11/22/particles-1373684_960_720.jpg');">
  <div class="overly">
    <h5 class="float-left pl-5 pt-5 text-white"><span class="font-weight-bold">Site of the Day</span> &nbsp;<span id="displayDate"></span></h5>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-6" style="margin-top: 120px;">
          <h2 class="text-white font-weight-bold">name</h2>
          <p style="font-size: 14px;" class="i">by &nbsp;<b class='b'>kelvin&nbsp;</b> Rated&nbsp;  at&nbsp;  <strong> 9.0</strong></p>
          <div class="design row ml-5 pt-4">
            <div>
              <a target="_blank"  href="{{i.link}}">9.5</a>
              <i id="de">design</i>
            </div>
            <div>
              <a target="_blank" href="{{i.link}}">9.0</a>
              <i id="us">usability</i>
            </div>
            <div>
              <a target="_blank" class='b' href="{{i.link}}">8.5</a>
              <i  id="con">content</i>
            </div>
            <div>
              <a target="_blank" class='b' href="{{i.link}}">8.5</a>
              <i  id="con">content</i>
            </div>
          </div>
        </div> 
      </div>
    </div>
    <div class="row mt-5">
      <a class="btn btn-sm btn-default bg-default ml-5 font-weight-bold" style="text-transform: lowercase; font-size: 14px; border-radius: 25px;" href="{{i.link}}">Visit site</a>
      <a class="btn btn-sm btn-outline-white bg-default ml-3 font-weight-bold" style="text-transform: lowercase; font-size: 14px; border-radius: 25px;" href="{{i.link}}">Collect</a>
    </div>
  </div>
  </div>
<br>
<div class="container-fluid">
  <div class="col-md-6">
    {%if projects%}
      <h3>Found {{projects|length}}</h3>
      {%else%}
      <h3>Found {{projects|length}} Related results</h3><br>
      <p class="alert alert-info">No result found</p>
      <ul class="list-group">
        <li class="list-group-item">Try using English</li>
        <li class="list-group-item">Try using Words like Marine, Bozar</li>
        <li class="list-group-item">Use key words Dont type too much</li>

      </ul>
      {%endif%}
  </div>
  <div class="row">
  {%for project in projects%}
    <div class="col-md-4">
      <div class="card content">
        <div class="image">
            <a class="img" href="/project/{{project.id}}">  <img class="img-fluid" src="{{project.image.url}}" alt=""></a>
        </div>
        <div class="check">
          <i class="dta">{{project.date}}</i>
          <p>{{project.name}}</p>

          <hr>
          <div class="">
            <i class="fas fa-pastafarianism"></i>
            <p>by {{project.user}}</p>
          </div>
        </div>
      </div>
      <br>
    </div>

    {%endfor%}


  </div>

</div>

{%endblock%}